.idea/
__pycache__/
.venv/
localhost:70/
staging.osf.io/
127.0.0.1:70/
127.0.0.1/
osf.io/
*.txt
.env
*.json
settings.py
!task_file_example.txt
*.json
archive/
!archive/static/consolidated.css
*.zip
*.htm
!requirements.txt