# General business
.idea/
__pycache__/
.env/
.venv/

# Mirror folders
localhost:70/
staging.osf.io/
127.0.0.1:70/
127.0.0.1/
osf.io/
!archive/search/search.html
archive/profile/*
archive/project/*
archive/registration/*
archive/static/*
archive/support/*

# Logs and Taskfiles
*.txt
!task_file_example.txt
!requirements.txt
*.json
*.zip
*.htm
*.log